<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.pg2016"
version = "1.0.0">

<name>jQuery-Jair</name>

<description>
Aplicacion que describe el funcionamiento de PhoneGap con jQuery
</description>

<author href="https://example.com" email="jairpartida_10@hotmail.com">
Jair Partida
</author>

<icon src="images/jquery2.png" gap:density="ldpi" gap:platform="android" />
<icon src="images/jquery2.png" gap:density="mdpi" gap:platform="android" />
<icon src="images/jquery2.png" gap:density="hdpi" gap:platform="android" />
<icon src="images/jquery2.png" gap:density="xhdpi" gap:platform="android" />

</widget>